name: _BuildALGoProject

on:
  workflow_call:
    inputs:
      shell:
        description: Shell in which you want to run the action (powershell or pwsh)
        required: false
        default: powershell
        type: string
      runsOn:
        description: JSON-formatted string of the types of machine to run the build job on
        required: true
        type: string
      project:
        description: Name of the built project
        required: true
        type: string
      projectName:
        description: Friendly name of the built project
        required: true
        type: string
      buildMode:
        description: Build mode used when building the artifacts
        required: true
        type: string
      projectDependenciesJson:
        description: Dependencies of the built project in compressed JSON format
        required: false
        default: '{}'
        type: string
      secrets:
        description: A comma-separated string with the names of the secrets, required for the workflow.
        required: true
        type: string
      publishThisBuildArtifacts:
        description: Flag indicating whether this build artifacts should be published
        required: false
        default: false
        type: boolean
      publishArtifacts:
        description: Flag indicating whether the artifacts should be published
        required: false
        default: false
        type: boolean
      signArtifacts:
        description: Flag indicating whether the artifacts should be signed
        required: false
        default: false
        type: boolean
      useArtifactCache:
        description: Flag indicating whether the build should use the Artifact Cache
        required: false
        default: false
        type: boolean

jobs:
  BuildALGoProject:
    runs-on: ${{ fromJson(inputs.runsOn) }}
    name: ${{ inputs.projectName }} (${{ inputs.buildMode }})
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Read settings
        uses: microsoft/AL-Go-Actions/ReadSettings@v8.0
        with:
          shell: ${{ inputs.shell }}
          project: ${{ inputs.project }}

      - name: Read secrets
        id: ReadSecrets
        uses: microsoft/AL-Go-Actions/ReadSecrets@v8.0
        with:
          shell: ${{ inputs.shell }}
          gitHubSecrets: ${{ toJson(secrets) }}
          getSecrets: ${{ inputs.secrets }}

      - name: Build
        uses: microsoft/AL-Go-Actions/BuildALGoProject@v8.0
        with:
          shell: ${{ inputs.shell }}
          project: ${{ inputs.project }}
          buildMode: ${{ inputs.buildMode }}
          projectDependenciesJson: ${{ inputs.projectDependenciesJson }}
          secrets: '${{ steps.ReadSecrets.outputs.Secrets }}'
          publishThisBuildArtifacts: ${{ inputs.publishThisBuildArtifacts }}
          publishArtifacts: ${{ inputs.publishArtifacts }}
          signArtifacts: ${{ inputs.signArtifacts }}
          useArtifactCache: ${{ inputs.useArtifactCache }}