name: ' CI/CD'

on:
  workflow_dispatch:
  push:
    paths-ignore:
      - '**.md'
      - '.github/workflows/*.yaml'
      - '!.github/workflows/_BuildALGoProject.yaml'
    branches: [ 'main', 'releases/*', 'feature/*' ]
  pull_request:
    paths-ignore:
      - '**.md'
      - '.github/workflows/*.yaml'
      - '!.github/workflows/_BuildALGoProject.yaml'
    branches: [ 'main' ]

permissions:
  contents: read
  actions: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  Initialization:
    runs-on: [ windows-latest ]
    outputs:
      telemetryScopeJson: ${{ steps.init.outputs.telemetryScopeJson }}
      settings: ${{ steps.ReadSettings.outputs.SettingsJson }}
      projects: ${{ steps.ReadSettings.outputs.ProjectsJson }}
      projectCount: ${{ steps.ReadSettings.outputs.ProjectCount }}
      fullBuildPatterns: ${{ steps.ReadSettings.outputs.FullBuildPatternsJson }}
      modifiedProjects: ${{ steps.ReadSettings.outputs.ModifiedProjectsJson }}
      modifiedProjectCount: ${{ steps.ReadSettings.outputs.ModifiedProjectCount }}
      buildOrderJson: ${{ steps.ReadSettings.outputs.BuildOrderJson }}
      workflowDepth: ${{ steps.DetermineWorkflowDepth.outputs.WorkflowDepth }}
      continuousDeployment: ${{ steps.DetermineWorkflowDepth.outputs.ContinuousDeployment }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Initialize the workflow
        id: init
        uses: microsoft/AL-Go-Actions/WorkflowInitialize@v8.0

      - name: Read settings
        id: ReadSettings
        uses: microsoft/AL-Go-Actions/ReadSettings@v8.0
        with:
          shell: powershell

      - name: Determine Workflow Depth
        id: DetermineWorkflowDepth
        uses: microsoft/AL-Go-Actions/DetermineWorkflowDepth@v8.0
        with:
          shell: powershell

  Build:
    needs: [ Initialization ]
    if: (!failure()) && (!cancelled()) && fromJson(needs.Initialization.outputs.buildOrderJson)[0].projectsCount > 0
    strategy:
      matrix:
        include: ${{ fromJson(needs.Initialization.outputs.buildOrderJson)[0].projects }}
      fail-fast: false
    name: Build ${{ matrix.project }}
    uses: ./.github/workflows/_BuildALGoProject.yaml
    with:
      shell: powershell
      runsOn: windows-latest
      project: ${{ matrix.project }}
      projectName: ${{ matrix.projectName }}
      buildMode: Default
      projectDependenciesJson: ${{ matrix.projectDependenciesJson }}
      secrets: 'licenseFileUrl,codeSignCertificateUrl,*codeSignCertificatePassword,keyVaultCertificateUrl,*keyVaultCertificatePassword,keyVaultClientId,gitHubPackagesContext,applicationInsightsConnectionString'
      publishThisBuildArtifacts: ${{ needs.Initialization.outputs.workflowDepth > 1 }}
      publishArtifacts: ${{ github.ref_name == 'main' || startswith(github.ref_name, 'releases/') || needs.Initialization.outputs.workflowDepth > 1 }}
      signArtifacts: true
      useArtifactCache: true
    secrets: inherit

  StatusCheck:
    runs-on: [ windows-latest ]
    needs: [ Initialization, Build ]
    if: (!cancelled())
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Finalize the workflow
        id: finalize
        uses: microsoft/AL-Go-Actions/WorkflowPostProcess@v8.0
        with:
          shell: powershell
          telemetryScopeJson: ${{ needs.Initialization.outputs.telemetryScopeJson }}
          currentJobContext: ${{ toJson(job) }}